Repository bcgov/digital_marketplace, pull requests merged in 2020-02, with the labels that each got.

#45 DM-192 Contextual nav links or dropdown
  package-lock.json
  package.json
  src/front-end/sass/index.scss
  src/front-end/typescript/index.ts
  src/front-end/typescript/lib/app/view/footer.tsx
  src/front-end/typescript/lib/app/view/index.tsx
  src/front-end/typescript/lib/app/view/nav.tsx
  src/front-end/typescript/lib/framework.tsx
  src/front-end/typescript/lib/pages/landing.tsx
Labels: front-end

#44 DM-257 - back-end crud resource for CWU opportunities
  src/back-end/index.ts
  src/back-end/lib/db.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/code-with-us.ts
  src/back-end/lib/resources/organization.ts
  src/back-end/lib/resources/user.ts
  src/back-end/lib/validation.ts
  src/back-end/tsconfig.json
  src/migrations/tasks/20200130085107_cwu_attachments_modify.ts
  src/migrations/tasks/20200201235459_cwu_cascades.ts
  src/shared/lib/resources/code-with-us.ts
  src/shared/lib/resources/session.ts
  src/shared/lib/validation/code-with-us.ts
Labels: back-end

#47 DM-266 update opportunity status
  src/back-end/lib/db.ts
  src/front-end/typescript/lib/components/table/history.tsx
  src/migrations/tasks/20200213203214_cwu_null_createdby.ts
  src/shared/lib/resources/addendum.ts
  src/shared/lib/resources/opportunity/code-with-us.ts
  src/shared/lib/resources/organization.ts
  src/shared/lib/resources/proposal/code-with-us.ts
  src/shared/lib/resources/user.ts
Labels: back-end

#51 DM-289 add publishedAt field
  src/back-end/lib/db.ts
  src/front-end/typescript/lib/pages/opportunity/code-with-us/edit/tab/opportunity.tsx
  src/front-end/typescript/lib/pages/opportunity/code-with-us/lib/views/edit-tab-header.tsx
  src/shared/lib/resources/opportunity/code-with-us.ts
Labels: WIP, back-end

#50 DM-282 allow creation of proposals with draft/submitted status
  src/back-end/lib/db.ts
  src/back-end/lib/resources/proposal/code-with-us.ts
  src/shared/lib/resources/proposal/code-with-us.ts
  src/shared/lib/validation/proposal/code-with-us.ts
Labels: back-end

#54 DM-295 add unique constraint on opportunity and proposal status tables
  src/migrations/tasks/20200222173125_unique_status_date.ts
Labels: back-end

#53 DM-287 add additional file permission check
  src/back-end/lib/db.ts
  src/back-end/lib/permissions.ts
  src/migrations/tasks/20200222173125_unique_status_date.ts
Labels: back-end

#55 DM-290 add events to opportunity and proposal records
  src/back-end/lib/db.ts
  src/front-end/typescript/lib/http/api.ts
  src/front-end/typescript/lib/pages/opportunity/code-with-us/edit/tab/history.tsx
  src/front-end/typescript/lib/pages/opportunity/code-with-us/lib/index.ts
  src/front-end/typescript/lib/pages/proposal/code-with-us/lib/index.ts
  src/front-end/typescript/lib/pages/proposal/code-with-us/view/tab/history.tsx
  src/migrations/tasks/20200222204440_add_events.ts
  src/shared/lib/resources/opportunity/code-with-us.ts
  src/shared/lib/resources/proposal/code-with-us.ts
Labels: back-end

#56 DM-108 email notification module
  src/back-end/config.ts
  src/back-end/lib/db.ts
  src/back-end/lib/fileUtils.ts
  src/back-end/lib/mailer/index.tsx
  src/back-end/lib/mailer/notifications/opportunity/code-with-us.ts
  src/back-end/lib/mailer/notifications/user.ts
  src/back-end/lib/mailer/templates.tsx
  src/back-end/lib/resources/opportunity/code-with-us.ts
  src/back-end/lib/routers/auth.ts
Labels: back-end

#57 DM-291 filter draft proposals for admin/gov users
  src/back-end/lib/db.ts
Labels: back-end

#58 DM-298 Allow adding addenda to all stages of a CWU opportunity (except draft)
  src/back-end/lib/resources/opportunity/code-with-us.ts
Labels: back-end

#59 DM-342 add rank to return proposals
  src/back-end/lib/db.ts
  src/back-end/lib/permissions.ts
  src/shared/lib/resources/proposal/code-with-us.ts
Labels: back-end

#60 DM-343 add mailer config validation
  src/back-end/config.ts
Labels: back-end

#61 DM-353 switch update to insert for not awarded status
  src/back-end/lib/db.ts
Labels: back-end

#62 DM-346 do not return proposal history to vendors
  src/back-end/lib/db.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/proposal/code-with-us.ts
Labels: back-end

#63 DM-350 all vendors to readMany their own proposals
  src/back-end/lib/db.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/proposal/code-with-us.ts
Labels: back-end
