Repository bcgov/digital_marketplace, pull requests merged in 2020-04, with the labels that each got.

#83 DM-313 swu proposal resource
  src/back-end/index.ts
  src/back-end/lib/db/index.ts
  src/back-end/lib/db/opportunity/sprint-with-us.ts
  src/back-end/lib/db/organization.ts
  src/back-end/lib/db/proposal/sprint-with-us.ts
  src/back-end/lib/hooks/sprint-with-us.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/opportunity/sprint-with-us.ts
  src/back-end/lib/resources/proposal/sprint-with-us.ts
  src/back-end/lib/validation.ts
  src/migrations/tasks/20200321220025_swu_proposals_add_missing_field.ts
  src/migrations/tasks/20200322120246_swu_team_members_cascade.ts
  src/migrations/tasks/20200329100105_swu_null_createdby.ts
  src/migrations/tasks/20200329163517_swu_proposals_attachment_cascade.ts
  src/migrations/tasks/20200402205816_update-proposal-status-checks.ts
  src/migrations/tasks/20200403095356_swu_proposal_anon_name.ts
  src/shared/lib/resources/opportunity/sprint-with-us.ts
  src/shared/lib/resources/proposal/sprint-with-us.ts
  src/shared/lib/validation/index.ts
  src/shared/lib/validation/proposal/sprint-with-us.ts
Labels: back-end

#84 DM-369 populate reporting metrics and success proponent flag on opportunities
  src/back-end/lib/db/opportunity/code-with-us.ts
  src/back-end/lib/db/opportunity/sprint-with-us.ts
  src/back-end/lib/db/proposal/code-with-us.ts
  src/back-end/lib/db/proposal/sprint-with-us.ts
  src/shared/lib/resources/counter.ts
  src/shared/lib/resources/opportunity/code-with-us.ts
  src/shared/lib/resources/opportunity/sprint-with-us.ts
Labels: back-end

#86 DM-422 add capabilities to team member
  src/back-end/lib/db/proposal/sprint-with-us.ts
  src/shared/lib/resources/proposal/sprint-with-us.ts
Labels: back-end

#87 DM-420 fix validation of phase start/completion dates
  src/back-end/lib/resources/opportunity/sprint-with-us.ts
Labels: back-end, bug

#90 DM-424 add avatarImage to UserSlim
  src/back-end/lib/db/user.ts
Labels: back-end

#92 DM-425 fix attachment delete bug for CWU proposals
  src/back-end/lib/db/proposal/code-with-us.ts
Labels: back-end, bug

#89 DM-423 convert 'pending' to calculated field
  src/back-end/lib/db/proposal/sprint-with-us.ts
  src/back-end/lib/resources/proposal/sprint-with-us.ts
  src/back-end/lib/validation.ts
  src/migrations/tasks/20200407205605_remove_pending_field.ts
  src/shared/lib/resources/proposal/sprint-with-us.ts
  src/shared/lib/validation/proposal/sprint-with-us.ts
Labels: back-end

#93 DM-426 fix floating point error on proposal scores
  src/migrations/tasks/20200409141151_proposal_score_float.ts
Labels: back-end, bug

#96 DM-433 changes to affiliation/organization
  src/back-end/lib/db/affiliation.ts
  src/back-end/lib/db/organization.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/affiliation.ts
  src/back-end/lib/resources/organization.ts
  src/back-end/lib/resources/proposal/code-with-us.ts
  src/back-end/lib/resources/proposal/sprint-with-us.ts
  src/back-end/lib/validation.ts
  src/front-end/typescript/lib/http/api.ts
  src/front-end/typescript/lib/pages/organization/edit/index.tsx
  src/front-end/typescript/lib/pages/organization/edit/tab/index.ts
  src/front-end/typescript/lib/pages/organization/edit/tab/organization.tsx
  src/front-end/typescript/lib/pages/organization/edit/tab/qualification.tsx
  src/front-end/typescript/lib/pages/organization/edit/tab/team.tsx
  src/front-end/typescript/lib/pages/organization/lib/components/form.tsx
  src/front-end/typescript/lib/pages/proposal/sprint-with-us/lib/components/form.tsx
  src/front-end/typescript/lib/pages/user/profile/tab/organizations.tsx
  src/shared/lib/resources/affiliation.ts
  src/shared/lib/resources/organization.ts
Labels: back-end

#95 DM-400 notification reference page
  src/back-end/config.ts
  src/back-end/index.ts
  src/back-end/lib/db/affiliation.ts
  src/back-end/lib/db/index.ts
  src/back-end/lib/db/opportunity/code-with-us.ts
  src/back-end/lib/db/opportunity/sprint-with-us.ts
  src/back-end/lib/db/organization.ts
  src/back-end/lib/db/proposal/code-with-us.ts
  src/back-end/lib/db/proposal/sprint-with-us.ts
  src/back-end/lib/db/subscribers/sprint-with-us.ts
  src/back-end/lib/db/user.ts
  src/back-end/lib/mailer/index.tsx
  src/back-end/lib/mailer/notifications/opportunity/code-with-us.ts
  src/back-end/lib/mailer/notifications/opportunity/code-with-us.tsx
  src/back-end/lib/mailer/notifications/opportunity/sprint-with-us.ts
  src/back-end/lib/mailer/notifications/opportunity/sprint-with-us.tsx
  src/back-end/lib/mailer/notifications/proposal/code-with-us.tsx
  src/back-end/lib/mailer/notifications/proposal/sprint-with-us.tsx
  src/back-end/lib/mailer/notifications/user.ts
  src/back-end/lib/mailer/notifications/user.tsx
  src/back-end/lib/mailer/templates.tsx
  src/back-end/lib/mailer/transport.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/affiliation.ts
  src/back-end/lib/resources/opportunity/code-with-us.ts
  src/back-end/lib/resources/opportunity/sprint-with-us.ts
  src/back-end/lib/resources/organization.ts
  src/back-end/lib/resources/proposal/code-with-us.ts
  src/back-end/lib/resources/proposal/sprint-with-us.ts
  src/back-end/lib/resources/subscribers/sprint-with-us.ts
  src/back-end/lib/routers/admin/index.tsx
  src/back-end/lib/routers/admin/mocks.ts
  src/back-end/lib/server/adapters.ts
  src/back-end/lib/server/index.ts
  src/back-end/lib/types.ts
  src/back-end/lib/validation.ts
  src/front-end/typescript/lib/http/api.ts
  src/front-end/typescript/lib/pages/organization/edit/index.tsx
  src/front-end/typescript/lib/pages/organization/edit/tab/index.ts
  src/front-end/typescript/lib/pages/organization/edit/tab/organization.tsx
  src/front-end/typescript/lib/pages/organization/edit/tab/qualification.tsx
  src/front-end/typescript/lib/pages/organization/edit/tab/team.tsx
  src/front-end/typescript/lib/pages/organization/lib/components/form.tsx
  src/front-end/typescript/lib/pages/proposal/sprint-with-us/lib/components/form.tsx
  src/front-end/typescript/lib/pages/user/profile/tab/organizations.tsx
  src/shared/lib/resources/affiliation.ts
  src/shared/lib/resources/opportunity/code-with-us.ts
  src/shared/lib/resources/opportunity/sprint-with-us.ts
  src/shared/lib/resources/organization.ts
  src/shared/lib/resources/subscribers/sprint-with-us.ts
Labels: back-end

#98 DM-437 correct NULL bug for CWU opportunity status
  src/back-end/lib/db/opportunity/code-with-us.ts
  src/back-end/lib/db/opportunity/sprint-with-us.ts
Labels: back-end, bug

#97 DM-385 add word count validation to SWU proposal
  package-lock.json
  package.json
  src/back-end/lib/db/opportunity/sprint-with-us.ts
  src/back-end/lib/resources/proposal/sprint-with-us.ts
  src/shared/lib/validation/index.ts
  src/shared/lib/validation/proposal/sprint-with-us.ts
Labels: back-end

#100 DM-365 add affiliation/organization notifications
  src/back-end/lib/db/organization.ts
  src/back-end/lib/mailer/notifications/affiliation.tsx
  src/back-end/lib/mailer/notifications/opportunity/code-with-us.tsx
  src/back-end/lib/mailer/notifications/opportunity/sprint-with-us.tsx
  src/back-end/lib/mailer/notifications/proposal/code-with-us.tsx
  src/back-end/lib/mailer/notifications/proposal/sprint-with-us.tsx
  src/back-end/lib/mailer/notifications/user.tsx
  src/back-end/lib/resources/affiliation.ts
  src/back-end/lib/routers/admin/index.tsx
  src/back-end/lib/routers/admin/mocks.ts
Labels: back-end

#99 DM-438 add migration to prevent deadlocks
  src/migrations/tasks/20200413164227_fix-session-trigger-lock.ts
Labels: back-end, bug

#101 DM-438 changes to user sessions
  src/back-end/index.ts
  src/back-end/lib/db/file.ts
  src/back-end/lib/db/opportunity/code-with-us.ts
  src/back-end/lib/db/opportunity/sprint-with-us.ts
  src/back-end/lib/db/organization.ts
  src/back-end/lib/db/proposal/code-with-us.ts
  src/back-end/lib/db/proposal/sprint-with-us.ts
  src/back-end/lib/db/session.ts
  src/back-end/lib/hooks/logger.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/affiliation.ts
  src/back-end/lib/resources/avatar.ts
  src/back-end/lib/resources/file.ts
  src/back-end/lib/resources/organization.ts
  src/back-end/lib/resources/session.ts
  src/back-end/lib/resources/subscribers/code-with-us.ts
  src/back-end/lib/resources/subscribers/sprint-with-us.ts
  src/back-end/lib/resources/user.ts
  src/back-end/lib/routers/auth.ts
  src/back-end/lib/server/adapters.ts
  src/back-end/tsconfig.json
  src/front-end/typescript/lib/access-control.ts
  src/front-end/typescript/lib/app/init.ts
  src/front-end/typescript/lib/app/types.ts
  src/front-end/typescript/lib/app/update.ts
  src/front-end/typescript/lib/pages/organization/create.tsx
  src/front-end/typescript/lib/pages/organization/edit/index.tsx
  src/front-end/typescript/lib/pages/organization/list.tsx
  src/front-end/typescript/lib/pages/organization/sprint-with-us-terms.tsx
  src/front-end/typescript/lib/pages/user/list.tsx
  src/front-end/typescript/lib/pages/user/profile/index.tsx
  src/shared/lib/resources/session.ts
  tests/back-end/unit/lib/hooks/logger.ts
Labels: back-end

#102 DM-452 swu proposal score adjustments/fixes
  src/back-end/lib/db/opportunity/sprint-with-us.ts
  src/back-end/lib/db/proposal/sprint-with-us.ts
  src/back-end/lib/resources/proposal/sprint-with-us.ts
  src/migrations/tasks/20200414202808_swu-proposal-scores.ts
  src/migrations/tasks/20200415203004_session-fields.ts
  src/shared/lib/resources/proposal/sprint-with-us.ts
  src/shared/lib/validation/index.ts
  src/shared/lib/validation/proposal/sprint-with-us.ts
Labels: back-end

#103 DM-453 small fix to delete opportunity swu
  src/back-end/lib/db/opportunity/sprint-with-us.ts
Labels: back-end, bug

#107 DM-411 Coerce validation of CWU and SWU dates to 4pm Pacific Time
  src/shared/lib/index.ts
  src/shared/lib/validation/index.ts
  src/shared/lib/validation/opportunity/code-with-us.ts
  src/shared/lib/validation/opportunity/sprint-with-us.ts
Labels: back-end, front-end

#106 DM-494 make minTeamNumber optional
  src/back-end/lib/db/opportunity/sprint-with-us.ts
  src/back-end/lib/resources/opportunity/sprint-with-us.ts
  src/back-end/lib/resources/proposal/sprint-with-us.ts
  src/back-end/lib/validation.ts
  src/migrations/tasks/20200416160014_min-team-members.ts
  src/shared/lib/resources/opportunity/sprint-with-us.ts
  src/shared/lib/validation/opportunity/sprint-with-us.ts
Labels: back-end, bug

#108 DM-500 enumerate draft proposals/opps before saving
  src/back-end/lib/resources/opportunity/sprint-with-us.ts
  src/back-end/lib/resources/proposal/sprint-with-us.ts
Labels: back-end

#110 DM-517 add adts for screening out
  src/back-end/lib/db/proposal/sprint-with-us.ts
  src/back-end/lib/resources/proposal/sprint-with-us.ts
  src/shared/lib/resources/proposal/sprint-with-us.ts
Labels: back-end

#112 DM-535 / DM-544 - corrections to dates/rank on opps/proposals
  src/back-end/lib/db/opportunity/code-with-us.ts
  src/back-end/lib/db/opportunity/sprint-with-us.ts
  src/back-end/lib/db/proposal/code-with-us.ts
  src/back-end/lib/db/proposal/sprint-with-us.ts
  src/shared/lib/resources/proposal/code-with-us.ts
Labels: back-end, bug

#111 DM-401 replication and backup container configurations
  openshift/README.md
  openshift/templates/backup/backup-build.json
  openshift/templates/backup/backup-conf-configmap_DeploymentConfig.json
  openshift/templates/backup/backup-deploy.json
  openshift/templates/dm-deploy-config.json
  openshift/templates/patroni-deploy-config.json
Labels: dev-ops

#114 DM-527 allow optional phone/street2 on proponent
  src/back-end/lib/resources/proposal/code-with-us.ts
  src/migrations/tasks/20200422173628_optional-street2.ts
  src/shared/lib/resources/proposal/code-with-us.ts
Labels: back-end, bug
