Repository bcgov/digital_marketplace, pull requests merged in 2020-03, with the labels that each got.

#64 DM-351 limit draft/submitted proposals for admin/gov
  src/back-end/lib/db.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/proposal/code-with-us.ts
  src/shared/lib/resources/opportunity/code-with-us.ts
  src/shared/lib/resources/proposal/code-with-us.ts
Labels: back-end

#65 DM-347 add submittedAt field to submitted proposals
  src/back-end/lib/db.ts
Labels: back-end

#68 DM-286 split db.ts into modules
  src/back-end/lib/db.ts
  src/back-end/lib/db/affiliation.ts
  src/back-end/lib/db/file.ts
  src/back-end/lib/db/index.ts
  src/back-end/lib/db/opportunity/code-with-us.ts
  src/back-end/lib/db/organization.ts
  src/back-end/lib/db/proposal/code-with-us.ts
  src/back-end/lib/db/session.ts
  src/back-end/lib/db/subscribers/code-with-us.ts
  src/back-end/lib/db/user.ts
Labels: back-end

#69 DM-228 reporting metrics data model and resource
  src/back-end/index.ts
  src/back-end/lib/db/counter.ts
  src/back-end/lib/db/index.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/counter.ts
  src/migrations/tasks/20200302210721_reporting_counters.ts
  src/shared/lib/resources/counter.ts
  src/shared/lib/validation/counter.ts
Labels: back-end

#70 DM-301 migrations for swu opportunities
  src/migrations/tasks/20200305134738_swu_opportunities.ts
  src/shared/lib/data/capabilities.ts
  src/shared/lib/resources/opportunity/sprint-with-us.ts
  src/shared/lib/validation/opportunity/sprint-with-us.ts
Labels: back-end

#72 DM-305 data model for SWU proposals
  src/back-end/lib/db/opportunity/sprint-with-us.ts
  src/back-end/lib/db/proposal/sprint-with-us.ts
  src/migrations/tasks/20200305215313_swu_proposals.ts
  src/shared/lib/resources/proposal/code-with-us.ts
  src/shared/lib/resources/proposal/sprint-with-us.ts
  src/shared/lib/validation/proposal/sprint-with-us.ts
Labels: back-end

#73 DM-364 add postgres trigger for session cleanup
  src/migrations/tasks/20200308140217_session_cleanup_trigger.ts
Labels: back-end

#74 DM-310 add user capabilities data model/resource/validation
  src/back-end/lib/resources/user.ts
  src/migrations/tasks/20200309204727_user_capabilities.ts
  src/shared/lib/resources/user.ts
  src/shared/lib/validation/index.ts
  src/shared/lib/validation/opportunity/sprint-with-us.ts
  src/shared/lib/validation/user.ts
Labels: back-end

#75 DM-311 rfq swu qualified status / member lists
  src/back-end/lib/db/affiliation.ts
  src/back-end/lib/db/organization.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/affiliation.ts
  src/back-end/lib/resources/organization.ts
  src/migrations/tasks/20200310205432_swu_terms.ts
  src/shared/lib/resources/affiliation.ts
  src/shared/lib/resources/organization.ts
Labels: back-end

#77 DM-368 Update data fields using string to text where required
  src/migrations/tasks/20200311161600_string_to_text.ts
Labels: back-end

#78 DM-361 restrict CWU opportunity editing to draft/published/suspended
  src/back-end/lib/resources/opportunity/code-with-us.ts
Labels: back-end

#80 DM-370 add missing resource type/validation
  src/shared/lib/resources/opportunity/sprint-with-us.ts
  src/shared/lib/validation/opportunity/sprint-with-us.ts
Labels: back-end, bug

#71 DM-339: Team Questions component
  src/front-end/typescript/lib/components/team-questions.tsx
  src/front-end/typescript/lib/pages/landing.tsx
  src/front-end/typescript/lib/pages/organization/lib/components/form.tsx
Labels: front-end

#76 DM-360: SWU opportunity phases accordion component
  src/front-end/sass/index.scss
  src/front-end/typescript/lib/components/phases.tsx
  src/front-end/typescript/lib/pages/landing.tsx
  src/front-end/typescript/lib/pages/opportunity/sprint-with-us/lib/components/phase.tsx
  src/front-end/typescript/lib/pages/opportunity/sprint-with-us/lib/components/phases.tsx
  src/front-end/typescript/lib/pages/opportunity/sprint-with-us/lib/components/team-questions.tsx
  src/front-end/typescript/lib/views/accordion.tsx
  src/front-end/typescript/lib/views/icon.tsx
Labels: front-end
