Repository bcgov/digital_marketplace, pull requests merged in 2020-01, with the labels that each got.

#22 DM-124 Complete Organization List Page
  package.json
  src/back-end/lib/db.ts
  src/back-end/lib/resources/organization.ts
  src/front-end/typescript/lib/app/view/index.tsx
  src/front-end/typescript/lib/app/view/page.tsx
  src/front-end/typescript/lib/pages/organization/list.tsx
  src/front-end/typescript/lib/pages/sign-in.tsx
  src/front-end/typescript/lib/pages/sign-up/step-one.tsx
Labels: back-end, front-end

#23 DM-159 Implement UI changes per design feedback
  src/front-end/typescript/lib/app/view/nav.tsx
  src/front-end/typescript/lib/pages/sign-up/step-two.tsx
Labels: front-end

#24 DM-152 minor deployment config corrections
  jenkins/master.groovy
  openshift/templates/dm-deploy-config.json
Labels: dev-ops

#25 DM-172 remove createdBy, permissions fields from response
  src/back-end/lib/db.ts
  src/shared/lib/resources/file.ts
Labels: back-end

#26 DM-171 replace axios call with http-request
  src/back-end/lib/resources/session.ts
Labels: back-end

#27 DM-167 add constraint to sessions table
  src/back-end/lib/db.ts
  src/back-end/lib/routers/auth.ts
  src/migrations/tasks/20200106201409_session_constraint.ts
Labels: back-end

#29 DM-155 add redirect on success to auth callback
  src/back-end/lib/routers/auth.ts
Labels: back-end

#30 DM-181 Improve readability and UX of nav links
  src/front-end/sass/index.scss
  src/front-end/typescript/lib/app/view/index.tsx
  src/front-end/typescript/lib/app/view/nav.tsx
Labels: front-end

#31 DM-151 User profile page's Organizations tab
  src/back-end/lib/db.ts
  src/back-end/lib/resources/affiliation.ts
  src/front-end/typescript/lib/http/api.ts
  src/front-end/typescript/lib/pages/user/profile/tab/organizations.tsx
  src/shared/lib/resources/affiliation.ts
Labels: back-end, front-end

#28 DM-125 Feature/jesse/org form
  src/back-end/lib/db.ts
  src/back-end/lib/resources/organization.ts
  src/front-end/sass/index.scss
  src/front-end/static/images/default_organization_logo.svg
  src/front-end/typescript/config.ts
  src/front-end/typescript/lib/app/router.ts
  src/front-end/typescript/lib/components/form-field/index.tsx
  src/front-end/typescript/lib/components/sidebar/profile-org.tsx
  src/front-end/typescript/lib/framework.tsx
  src/front-end/typescript/lib/http/crud.ts
  src/front-end/typescript/lib/pages/organization/components/form.tsx
  src/front-end/typescript/lib/pages/organization/create.tsx
  src/front-end/typescript/lib/pages/organization/edit.tsx
  src/front-end/typescript/lib/pages/organization/list.tsx
  src/front-end/typescript/lib/pages/user/lib/components/profile-form.tsx
  src/front-end/typescript/lib/pages/user/profile/index.tsx
  src/front-end/typescript/lib/pages/user/profile/tab/organizations.tsx
  src/front-end/typescript/lib/pages/user/profile/tab/profile.tsx
  src/front-end/typescript/lib/types.ts
  src/front-end/typescript/lib/views/file-button.tsx
  src/front-end/typescript/lib/views/form-buttons-container.tsx
  src/front-end/typescript/lib/views/link.tsx
  src/shared/lib/resources/organization.ts
  src/shared/lib/validation/index.ts
  src/shared/lib/validation/organization.ts
  src/shared/lib/validation/user.ts
Labels: back-end, front-end

#32 DM-166 clean up user resource update
  src/back-end/lib/db.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/affiliation.ts
  src/back-end/lib/resources/organization.ts
  src/back-end/lib/resources/session.ts
  src/back-end/lib/resources/user.ts
  src/back-end/lib/routers/auth.ts
  src/back-end/lib/server/index.ts
  src/back-end/lib/validation.ts
  src/front-end/typescript/lib/pages/sign-up/step-two.tsx
  src/front-end/typescript/lib/pages/user/lib/components/profile-form.tsx
  src/front-end/typescript/lib/pages/user/profile/tab/notifications.tsx
  src/front-end/typescript/lib/pages/user/profile/tab/profile.tsx
  src/shared/lib/resources/affiliation.ts
  src/shared/lib/resources/user.ts
  src/shared/lib/validation/affiliation.ts
  src/shared/lib/validation/user.ts
Labels: back-end

#33 DM-163 implement file permissions validation in shared
  src/back-end/index.ts
  src/back-end/lib/db.ts
  src/back-end/lib/resources/avatar.ts
  src/back-end/lib/resources/file.ts
  src/back-end/lib/resources/organization.ts
  src/back-end/lib/resources/user.ts
  src/back-end/lib/routers/auth.ts
  src/back-end/lib/validation.ts
  src/front-end/typescript/lib/http/api.ts
  src/front-end/typescript/lib/http/crud.ts
  src/front-end/typescript/lib/pages/organization/components/form.tsx
  src/front-end/typescript/lib/pages/user/lib/components/profile-form.tsx
  src/shared/lib/resources/file.ts
  src/shared/lib/resources/organization.ts
  src/shared/lib/resources/user.ts
  src/shared/lib/validation/db.ts
  src/shared/lib/validation/file.ts
  src/shared/lib/validation/index.ts
Labels: back-end

#35 DM-194 "Hello World" CWU Page Structure
  src/front-end/typescript/lib/app/router.ts
  src/front-end/typescript/lib/app/types.ts
  src/front-end/typescript/lib/app/update.ts
  src/front-end/typescript/lib/app/view/index.tsx
  src/front-end/typescript/lib/pages/opportunity/code-with-us/create.tsx
  src/front-end/typescript/lib/pages/opportunity/code-with-us/edit.tsx
  src/front-end/typescript/lib/pages/opportunity/code-with-us/view.tsx
  src/front-end/typescript/lib/pages/opportunity/list.tsx
  src/front-end/typescript/lib/pages/proposal/code-with-us/create.tsx
  src/front-end/typescript/lib/pages/proposal/code-with-us/edit.tsx
  src/front-end/typescript/lib/pages/proposal/code-with-us/view.tsx
  src/front-end/typescript/lib/pages/proposal/list.tsx
Labels: front-end

#37 DM-186 Support redirectOnSuccess for sign in
  src/front-end/typescript/lib/app/router.ts
  src/front-end/typescript/lib/app/view/index.tsx
  src/front-end/typescript/lib/index.ts
  src/front-end/typescript/lib/pages/organization/create.tsx
  src/front-end/typescript/lib/pages/organization/edit.tsx
  src/front-end/typescript/lib/pages/sign-in.tsx
  src/front-end/typescript/lib/pages/sign-up/step-one.tsx
  src/front-end/typescript/lib/pages/sign-up/step-two.tsx
  src/front-end/typescript/lib/pages/user/list.tsx
  src/front-end/typescript/lib/pages/user/profile/index.tsx
  src/front-end/typescript/lib/views/sign-in-card.tsx
Labels: front-end

#38 DM-177 change all db routines to return validation
  src/back-end/lib/db.ts
  src/back-end/lib/resources/affiliation.ts
  src/back-end/lib/resources/file.ts
  src/back-end/lib/resources/organization.ts
  src/back-end/lib/resources/user.ts
  src/back-end/lib/routers/auth.ts
  src/back-end/lib/server/index.ts
  src/back-end/lib/validation.ts
  src/shared/lib/resources/affiliation.ts
  src/shared/lib/resources/file.ts
  src/shared/lib/resources/organization.ts
  src/shared/lib/resources/user.ts
  src/shared/lib/types.ts
  src/shared/lib/validation/db.ts
Labels: back-end

#43 DM-213 add CWU shared types
  src/shared/lib/resources/addendum.ts
  src/shared/lib/resources/code-with-us.ts
  src/shared/lib/resources/proposal/code-with-us.ts
Labels: back-end, front-end

#39 DM-218 refactor affiliation CRUD endpoints and db routines
  src/back-end/lib/db.ts
  src/back-end/lib/permissions.ts
  src/back-end/lib/resources/affiliation.ts
  src/migrations/tasks/20200118194855_user_email_constraint.ts
  src/shared/lib/resources/affiliation.ts
Labels: back-end

#40 DM 211 database migration for CWU
  src/migrations/tasks/20200126113825_cwu_init.ts
Labels: back-end
